@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  /* Global responsive gutter / gap spacing */
  .gutter {
    @apply p-4 sm:p-6 md:p-8 lg:p-10;
  }

  .gutter-x {
    @apply px-4 sm:px-6 md:px-8 lg:px-10;
  }

  .gutter-y {
    @apply py-6 sm:py-6 md:py-8 lg:py-10;
  }

  .gutter-t {
    @apply pt-6 sm:pt-6 md:pt-8 lg:pt-10;
  }

  .gutter-b {
    @apply pb-6 sm:pb-6 md:pb-8 lg:pb-10;
  }

  .gap {
    @apply gap-4 sm:gap-6 md:gap-8;
  }

  .translate-x-gutter {
    @apply translate-x-4 sm:translate-x-6 md:translate-x-8 lg:translate-x-10;
  }

  .fade-in {
    transition: opacity 1.5s ease;
  }

  .fade-out {
    opacity: 0;
    transition: opacity 1.5s ease;
  }
}

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5 {
    @apply font-display font-semibold;
  }

  /* h1::before,
  h2::before,
  h3::before,
  h4::before,
  h5::before {
    content: '';
    display: block;
    height: 0;
    width: 0;
    margin-top: calc(0.1 * 0.5em);
  } */

  h1 {
    @apply text-4xl md:text-5xl;
  }

  h2 {
    @apply text-4xl;
  }

  h3 {
    @apply text-3xl;
  }

  h4 {
    @apply text-2xl;
  }

  p {
    @apply mb-6 text-lg last:mb-0;
  }

  a {
  }

  hr {
  }
}

html {
  @apply bg-black;
}

body {
  @apply bg-background;

  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-feature-settings: 'pnum';
  text-rendering: geometricPrecision;
  font-feature-settings: 'pnum';
  font-variant-numeric: proportional-nums;
  font-variant-ligatures: discretionary-ligatures;
}
