@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  /* Global responsive gutter / gap spacing */
  .gutter {
    @apply p-5 sm:p-6 md:p-8 lg:p-10;
  }

  .gutter-x {
    @apply px-5 sm:px-6 md:px-8 lg:px-10;
  }

  .gutter-l {
    @apply pl-5 sm:pl-6 md:pl-8 lg:pl-10;
  }

  .gutter-r {
    @apply pr-5 sm:pr-6 md:pr-8 lg:pr-10;
  }

  .gutter-y {
    @apply py-6 sm:py-6 md:py-8 lg:py-10;
  }

  .gutter-t {
    @apply pt-6 sm:pt-6 md:pt-8 lg:pt-10;
  }

  .gutter-b {
    @apply pb-6 sm:pb-6 md:pb-8 lg:pb-10;
  }

  .gap {
    @apply gap-4 sm:gap-6 md:gap-8;
  }

  .translate-x-gutter {
    @apply translate-x-4 sm:translate-x-6 md:translate-x-8 lg:translate-x-10;
  }

  .fade-in {
    transition: opacity 1.5s ease;
  }

  .fade-out {
    opacity: 0;
    transition: opacity 1.5s ease;
  }
}

@layer base {
  /* Urbanist Regular */
  @font-face {
    font-family: 'Urbanist';
    src: url('/fonts/Urbanist-Regular.eot');
    src: url('/fonts/Urbanist-Regular.woff2') format('woff2'),
      url('/fonts/Urbanist-Regular.woff') format('woff'),
      url('/fonts/Urbanist-Regular.otf') format('opentype'),
      url('/fonts/Urbanist-Regular.eot'?#iefix) format('embedded-opentype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }

  /* Urbanist Medium */
  @font-face {
    font-family: 'Urbanist';
    src: url('/fonts/Urbanist-Medium.eot');
    src: url('/fonts/Urbanist-Medium.woff2') format('woff2'),
      url('/fonts/Urbanist-Medium.woff') format('woff'),
      url('/fonts/Urbanist-Medium.otf') format('opentype'),
      url('/fonts/Urbanist-Medium.eot'?#iefix) format('embedded-opentype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }

  /* Urbanist SemiBold */
  @font-face {
    font-family: 'Urbanist';
    src: url('/fonts/Urbanist-SemiBold.eot');
    src: url('/fonts/Urbanist-SemiBold.woff2') format('woff2'),
      url('/fonts/Urbanist-SemiBold.woff') format('woff'),
      url('/fonts/Urbanist-SemiBold.otf') format('opentype'),
      url('/fonts/Urbanist-SemiBold.eot'?#iefix) format('embedded-opentype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
  }

  /* Urbanist Bold */
  @font-face {
    font-family: 'Urbanist';
    src: url('/fonts/Urbanist-Bold.eot');
    src: url('/fonts/Urbanist-Bold.woff2') format('woff2'),
      url('/fonts/Urbanist-Bold.woff') format('woff'),
      url('/fonts/Urbanist-Bold.otf') format('opentype'),
      url('/fonts/Urbanist-Bold.eot'?#iefix) format('embedded-opentype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }

  /* Inter Regular */
  @font-face {
    font-family: 'Inter';
    src: url('/fonts/Inter-Regular.eot');
    src: url('/fonts/Inter-Regular.woff2') format('woff2'),
      url('/fonts/Inter-Regular.woff') format('woff'),
      url('/fonts/Inter-Regular.otf') format('opentype'),
      url('/fonts/Inter-Regular.eot'?#iefix) format('embedded-opentype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }

  /* Inter Medium */
  @font-face {
    font-family: 'Inter';
    src: url('/fonts/Inter-Medium.eot');
    src: url('/fonts/Inter-Medium.woff2') format('woff2'),
      url('/fonts/Inter-Medium.woff') format('woff'),
      url('/fonts/Inter-Medium.otf') format('opentype'),
      url('/fonts/Inter-Medium.eot'?#iefix) format('embedded-opentype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }

  /* Inter SemiBold */
  @font-face {
    font-family: 'Inter';
    src: url('/fonts/Inter-SemiBold.eot');
    src: url('/fonts/Inter-SemiBold.woff2') format('woff2'),
      url('/fonts/Inter-SemiBold.woff') format('woff'),
      url('/fonts/Inter-SemiBold.otf') format('opentype'),
      url('/fonts/Inter-SemiBold.eot'?#iefix) format('embedded-opentype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
  }

  /* Inter Bold */
  @font-face {
    font-family: 'Inter';
    src: url('/fonts/Inter-Bold.eot');
    src: url('/fonts/Inter-Bold.woff2') format('woff2'),
      url('/fonts/Inter-Bold.woff') format('woff'),
      url('/fonts/Inter-Bold.otf') format('opentype'),
      url('/fonts/Inter-Bold.eot'?#iefix) format('embedded-opentype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    @apply font-display font-semibold leading-tight tracking-normal;
  }

  /* h1::before,
  h2::before,
  h3::before,
  h4::before,
  h5::before {
    content: '';
    display: block;
    height: 0;
    width: 0;
    margin-top: calc(0.1 * 0.5em);
  } */

  h1 {
    @apply text-4xl md:text-5xl md:leading-tight;
  }

  h2 {
    @apply text-3xl md:text-4xl md:leading-tight;
  }

  h3 {
    @apply text-2xl md:text-3xl;
  }

  h4 {
    @apply text-2xl;
  }

  p {
    @apply mb-6 text-base last:mb-0;
  }

  a {
  }

  hr {
  }

  html {
    @apply bg-black;
  }

  body {
    @apply bg-background-500 font-normal;

    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-feature-settings: 'pnum';
    text-rendering: geometricPrecision;
    font-feature-settings: 'pnum';
    font-variant-numeric: proportional-nums;
    font-variant-ligatures: discretionary-ligatures;
  }

  .swiper-pagination-bullet {
    @apply h-10 w-10;
  }
}
